<header class="header ">
  <div class="container__header">
    <div class="menu">
      <a class="logo" href="#">
        <svg class="logo__svg">
          <use xlink:href="img/sprite.svg#logo"></use>
        </svg>
      </a>
      <nav class="nav">
        <button class="button btn-reset">Order Now</button>
        <ul class="nav__item">
          <li><a class="active" href="#">Home</a></li>
          <li><a href="#">About Us</a></li>
          <li><a href="#">Blog</a></li>
        </ul>
      </nav>
      <div class="header__burger" aria-label="Відкрити меню">
        <div class="burger__btn">
          <span></span>
        </div>
      </div>
    </div>
    <div class="content">
      <h1 class="title">
        Lorem ipsum dolor sit amet, consectetur
      </h1>
      <p class="decription">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
        magna aliqua. Ut enim ads
      </p>
      <svg class="arrow-down">
        <use xlink:href="img/sprite.svg#arrow-down"></use>
      </svg>
      <form class="form" action="#" method="post">
        <h3 class="form__title">Place your order</h3>
        <div class="input__wrap">
          <input class="form__input email" type="email" id="email" name="email" placeholder="Enter your email">
          <div class="form__select">
            <select name="text" id="" class="form__input " aria-placeholder="text">
              <option selected value="eassay">Eassay</option>
              <option value="writing">Writing</option>
              <option value="service">Service</option>
            </select>
          </div>

          <div class="form__select">
            <select name="number" id="size" class="form__input " aria-placeholder="number">
              <option selected value="275">275</option>
              <option value="300">300</option>
              <option value="325">325</option>
              <option value="500">500</option>
            </select>
          </div>

        </div>
        <button class="button btn-reset form__btn">Order Now</button>
      </form>
    </div>
  </div>
</header>
