html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  font-family: 'Karla', sans-serif;
  background-color: var(--color-white);
}

img {
  max-width: 100%;
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  list-style: none;
  padding: 0;
}

.is-outer {
  position: relative !important; // stylelint-disable-line declaration-no-important
  left: -9999px !important; // stylelint-disable-line declaration-no-important
}


.is-hidden {
  display: none !important; // stylelint-disable-line declaration-no-important
}


.error {
  border: 2px #ff4019 solid !important; // stylelint-disable-line declaration-no-important
}

.btn-reset {
  border: none;
  background: transparent;
  cursor: pointer;
}

.site-container {
  max-width: 1920px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}


.js-focus-visible :focus:not(.focus-visible) {
  outline: none;
}


.lock {
  overflow: hidden;
}
