// COLORS
:root {
  --color-white: #FFFFFF;
  --color-black: #000000;

  --color-bg-button: #da6f5b;
  --color-bg-link-nav-active: #2d2d35;

  --color-bg: #2d2d35;
  --color-bg-form: rgba(0, 0, 0, 0.63);
  --color-bg-input: rgba(255, 255, 255, .2);

  --color-text-dark: #2d2d35;
  --color-text-light: #5b5e6b;

  --color-shadow-primary: rgba(194, 203, 210, .27);
}
